<div class="temp__scroll">
  <h1>Temperature during the day</h1>
  <div class="temp__scroll__slider">
    <div class="temp__scroll__slider__item">
      <img src="assets/cloudy_2.png"/>
      <p>19&#186;</p>
      <p>10:00</p>
    </div>
    <div class="temp__scroll__slider__item">
      <img src="assets/cloudy_2.png"/>
      <p>19&#186;</p>
      <p>10:00</p>
    </div>
    <div class="temp__scroll__slider__item">
      <img src="assets/cloudy_2.png"/>
      <p>19&#186;</p>
      <p>10:00</p>
    </div>
    <div class="temp__scroll__slider__item">
      <img src="assets/cloudy_2.png"/>
      <p>19&#186;</p>
      <p>10:00</p>
    </div>
    <div class="temp__scroll__slider__item">
      <img src="assets/cloudy_2.png"/>
      <p>19&#186;</p>
      <p>10:00</p>
    </div>
    <div class="temp__scroll__slider__item">
      <img src="assets/cloudy_2.png"/>
      <p>19&#186;</p>
      <p>10:00</p>
    </div>
    <div class="temp__scroll__slider__item">
      <img src="assets/cloudy_2.png"/>
      <p>19&#186;</p>
      <p>10:00</p>
    </div>
    <div class="temp__scroll__slider__item">
      <img src="assets/cloud_moon.png"/>
      <p>19&#186;</p>
      <p>10:00</p>
    </div>
  </div>
</div>
<!--cloud_sunny,cloud_half_sunny,cloud_rain,cloudy_2,cloud_strom,cloud_moon,cloud_half_moon,-->
