@import "../../../../../mixins";

.sunrise__sunset{
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 16px;
  display: flex;
  margin-top: 32px;
  justify-content: space-around;
  @include phone{
    margin-top: 0;
    flex-direction: column;
  }
  &__item{
    display: flex;
    align-items: center;
   margin-bottom: 16px;
    p{
      margin-left: 8px;
      font-size: 20px;
      @include phone{
        font-size: 16px;
      }
    }
  }
}
