<div class="weather__detail">
  <h1>Weather Data</h1>
  <div class="weather__detail__item">
    <p>Temp max</p>
    <div class="weather__detail__item__data">
      <p>19&#186;</p>
      <img src="assets/temp_max.png"  alt=""/>
    </div>
  </div>
  <div class="weather__detail__item">
    <p>Temp min</p>
    <div class="weather__detail__item__data">
      <p>15&#186;</p>
      <img src="assets/temp_min.png" alt="" />
    </div>
  </div>
  <div class="weather__detail__item">
    <p>Humadity</p>
    <div class="weather__detail__item__data">
      <p>58%</p>
      <img src="assets/humadity.png"  alt=""/>
    </div>
  </div>
  <div class="weather__detail__item">
    <p>Cloudy</p>
    <div class="weather__detail__item__data">
      <p>86%</p>
      <img src="assets/cloudy_2.png"  alt=""/>
    </div>
  </div>
  <div class="weather__detail__item">
    <p>Wind</p>
    <div class="weather__detail__item__data">
      <p>5km/h</p>
      <img src="assets/wind.png" alt="" />
    </div>
  </div>
</div>
