<div *ngIf="weatherData$ | async as weatherData; else placeholder" class="short_detail">
  <p class="short_detail_temp">{{ weatherData.main.temp | number: '1.0-0'}}&#186;</p>
  <div class="short_detail_place">
    <p class="short_detail_place_city">{{weatherData.name}}</p>
    <!-- Display the current time dynamically -->
    <p class="short_detail_place_date">{{ currentTime$ | async }}</p>
  </div>
  <img class="short_detail_cloud" [src]="imageSrc" alt="1">
</div>

<!-- Placeholder content -->
<ng-template #placeholder>
  <div class="short_detail">
    <p class="short_detail_temp">0&#186;</p>
    <div class="short_detail_place">
      <p class="short_detail_place_city">Unknown City</p>
      <p class="short_detail_place_date">{{ currentTime$ | async }}</p>
    </div>
    <img class="short_detail_cloud" [src]="imageSrc" alt="Placeholder">
  </div>
</ng-template>
