<div *ngIf="weatherData$ | async as weatherData; else placeholder" class="short_detail">
  <p class="short_detail_temp">{{ weatherData.main.temp | number: '1.0-0'}}&#186;</p>
  <div class="short_detail_place">
    <p class="short_detail_place_city">{{weatherData.name}}</p>
    <!-- Display the current time dynamically -->
    <p class="short_detail_place_date">{{ weatherData.dt | unixToFullDate }}</p>
  </div>
  <img class="short_detail_cloud"  [src]="'assets/icons/' + weatherData.weather.icon + '_70.png'" alt="Weather icon"/>
  <img class="short_detail_cloud_phone"  [src]="'assets/icons/' + weatherData.weather.icon+'.png'" alt="Weather icon"/>
</div>

<!-- Placeholder content -->
<ng-template #placeholder>
  <div class="short_detail">
    <p class="short_detail_temp">0&#186;</p>
    <div class="short_detail_place">
      <p class="short_detail_place_city">Unknown City</p>
      <p class="short_detail_place_date">00:00</p>
    </div>
    <img class="short_detail_cloud" [src]="imageSrc" alt="Placeholder">
    <img class="short_detail_cloud_phone"  [src]="'assets/icons/01d.png'" alt="Weather icon"/>
  </div>
</ng-template>
