@import '_reset.scss';
@import '_mixins.scss';

body{
  background-image: url("./assets/bg-weather2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
